body{
background-color: #333;
}


.interface{
    width: 1200px;
    margin: auto;
}


@media (max-width:1240px) {
    .interface{
        width: 90%;
    }
}


.interface .owl-carousel img{
    width: 100%;
}

.interface .owl-theme .owl-dots .owl-dot.active span {
    background: #343fbf;}